{% extends 'tree/base.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="submit and return to people" class="waves-effect waves-light btn">
    <input type="submit" value="submit and add another one" class="waves-effect waves-light btn">
</form>
{% endblock content %}