{% extends 'tree/base.html' %}
{% load static %}
{% block content %}
{% for person in person_objects %}
<div class="col s1 m1">
    <div class="card horizontal">
        <div class="card-image">
        <img src="https://lorempixel.com/100/100">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">{{person}}</span>
            <p>Gender: {{person.gender}}</p>
            <p>Age: {{person.age}}</p>
            <p>Is alive: {{person.is_alive}}</p>
        </div>
        <div class="card-action">
            <a href="#"><i class="material-icons">edit</i></a>
        </div>
        </div>
    </div>
    </div>
{% endfor %}
<a class="btn-floating btn-large waves-effect waves-light red" href="/add"><i class="material-icons">add</i></a>
{% endblock %}
