<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>
            Family Tree
        </title>
    </head>
    <body>
        <div class="container" >
            <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Family Tree</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/person">See all people</a></li>
                    <li><a href="/admin">Admin login</a></li>
                  </ul>
                </div>
              </nav>
              {% block content %}
              {% endblock %}
        </div>
    </body>
</html>